<div class="show-item">
  <div>
    <p>
      <% if comment.user.name.blank? %>
        <strong><%= Comment.human_attribute_name(:email) %>:</strong>
        <%= comment.user.email %>
      <% else %>
        <strong><%= Comment.human_attribute_name(:name) %>:</strong>
        <%= comment.user.name %>
      <% end %>
    </p>

    <p>
      <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
      <%= l comment.created_at %>
    </p>

    <p>
      <strong><%= Comment.human_attribute_name(:text) %>:</strong>
      <%= comment.text %>
    </p>
  </div>

  <p>
    <% if comment.user_id == current_user.id %>
      <%= link_to t('views.common.edit', name: Comment.model_name.human.downcase), edit_comment_path(comment) %>
      <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), comment, method: :delete %>
    <% end %>
  </p>
</div>
