<h1><%= t('views.common.title_index', name: t('activerecord.models.user')) %></h1>

<div id="users" class="list_items">
  <% @users.each do |user| %>
    <div class="index-item">
      <%= render user %>
      <p>
        <%= link_to t('views.common.show', name: User.model_name.human.downcase), user %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
    <%= link_to t('views.common.back', name: i18n_pluralize(Book.model_name.human.downcase)), books_path %>
</nav>

<%= paginate @users %>
