<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render @report %>
</div>

<%= render 'shared/comments', commentable: @report %>

<% if mentioned_reports = @report.mentioned_reports.order(:created_at, :id).presence %>
  <div class="show-item">
    <p><%= t('shared.link.title') %></p>
    <% mentioned_reports.each do |mentioned_report| %>
      <p>
        <%= link_to mentioned_report.title, mentioned_report %>
        <%= t('shared.link.notice_link') %>
      </p>
    <% end %>
  </div>
<% end %>

<nav class="page-nav">
  <% if @report.editable?(current_user) %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %> |
  <% end %>
  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>

  <% if @report.editable?(current_user) %>
    <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete %>
  <% end %>
</nav>
