<p><%= t('views.common.hello', name: @resource.email) %>!</p>
<p>

  <%= t('users.passwords.requested_link') %>
  <%= t('views.common.link_below.change_password') %>
</p>

<p><%= link_to t('users.passwords.edit.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('users.mailer.reset_password_instructions.instruction_2') %></p>
<p><%= t('users.mailer.reset_password_instructions.instruction_3') %></p>
